@model CardType

<turbo-frame id="card-type-list-counter">
    <div class="card-type-list-counter my-2">
        <h6 class="text-sm text-black">Card Type Count: @CardTypes.Instance.Count</h6>
    </div>
</turbo-frame>