@model CardType

<turbo-frame id="CardType_@Model.Id">
    <li class="menu-item w-full my-3 py-2 border-solid border-top-grey border-2 flex justify-between">
        <div class="flex no-wrap items-center pl-2">
            @* <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> *@
            @*     <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/> *@
            @* </svg> *@
            <span class="h-fit">@Model.Definition</span>
        </div>

        <div class="flex no-wrap items-center">
            <span class="h-fit">Ziyaret Edilebilir</span>
            @if (Model.IsVisitable)
            {
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mx-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                </svg>
            }
            else
            {
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mx-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                </svg>
            }
        </div>

        <div class="flex h-fit no-wrap">
            <a class="flex h-max items-start" asp-page="/CardTypes" asp-page-handler="Edit" asp-route-id="@Model.Id">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                </svg>
            </a>

            <form method="post" class="mr-2 flex h-fit">
                <button asp-page="/CardTypes" asp-page-handler="Delete" asp-route-id="@Model.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </form>
        </div>
    </li>
</turbo-frame>