@model IndexModel

<turbo-frame id="content-frame" data-turbo-action="advance">
    <div class="text-center border-solid border-2 border-grey rounded-lg p-8">
        <div class="idesse-logo flex items-center m-auto">
            <img src="~/dist/images/idesse_logo.svg" class="max-w-sm m-auto"/>
        </div>

        <div class="login-form w-full flex-col justify-content-between">
            <div class="bg-red-500 text-center h-10 rounded-lg flex justify-center items-center m-5">
                <span class="text-white h-fit">Please Enter a User Name!</span>
            </div>
            <form method="post" id="login-form">
                <label class="p-8 input-group w-full">
                    <span for="user-name">Username</span><br/>
                    <input asp-for="@Model.UserName" class="input input-bordered input-info w-full max-w-[60%]" id="user-name"/>
                </label>

                <label class="p-8 input-group w-full">
                    <span for="password">Password</span><br/>
                    <input asp-for="@Model.Password" class="input input-bordered input-info w-full max-w-[60%]" type="password" id="password"/>
                </label>

                <button type="submit" asp-page="/Index" class="btn btn-outline btn-info">Login</button>
            </form>
        </div>
    </div>
</turbo-frame>