@model IdesseCardTypes.Pages.IndexModel

<turbo-frame id="login-error">
	<div class="w-full bg-red-500 text-center w-full h-10 rounded-lg flex justify-center items-center m-5">
		<span class="text-white h-fit">Please Enter a User Name!</span>
	</div>
</turbo-frame>