@page
@using IdesseCardTypes.Hubs
@model CardTypesModel

<turbo-frame id="content-frame">
    <div class="text-center border-solid border-2 border-grey rounded-lg p-8 w-full flex-col h-fit">
        <div class="menu-header w-full flex items-center justify-between m-auto border-solid border-b-2 border-mainTitleBlue">
            <div class="max-w-[75%] flex items-center">
                <img src="dist/images/idesse-symbol.svg" class="m-2 h-9 w-9"/>
                <span class="menu-header text-mainTitleBlue">Kart Tipleri</span>
            </div>
            <a class="flex h-max max-w-[25%]" asp-page="/CardTypes" asp-page-handler="Add" data-turbo-frame="CardType_0">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="h-6 w-6 m-2" viewBox="0 0 500 500" xml:space="preserve">
                    <defs>
                    </defs>
                    <g transform="matrix(1 0 0 1 250 250)" id="Xu8r3RH5Ga1FVZ-5uTD2F">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,113,188); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-250, -250)" d="M 250 0 C 319.023 0 381.523 27.988 426.76800000000003 73.232 C 472.01200000000006 118.476 500 180.976 500 250 C 500 319.023 472.012 381.523 426.76800000000003 426.76800000000003 C 381.524 472.01200000000006 319.024 500 250.00000000000003 500 C 180.97700000000003 500 118.47700000000003 472.012 73.23200000000003 426.76800000000003 C 27.988000000000028 381.524 2.842170943040401e-14 319.024 2.842170943040401e-14 250.00000000000003 C 2.842170943040401e-14 180.97700000000003 27.988000000000028 118.47700000000003 73.23200000000003 73.23200000000003 C 118.47600000000003 27.988000000000028 180.97600000000003 2.842170943040401e-14 250.00000000000003 2.842170943040401e-14 z M 250 358.096 C 236.26 358.096 225.01 346.817 225.01 333.106 L 225.01 274.981 L 166.89499999999998 274.981 C 153.17399999999998 274.981 141.89499999999998 263.711 141.89499999999998 249.981 C 141.89499999999998 236.26 153.14499999999998 224.99099999999999 166.89499999999998 224.99099999999999 L 225.01 224.99099999999999 L 225.01 166.87599999999998 C 225.01 153.15499999999997 236.26999999999998 141.88599999999997 250 141.88599999999997 C 263.73 141.88599999999997 274.99 153.12599999999998 274.99 166.87599999999998 L 274.99 224.99099999999999 L 333.115 224.99099999999999 C 346.855 224.99099999999999 358.115 236.24099999999999 358.115 249.981 C 358.115 263.731 346.836 274.981 333.115 274.981 L 274.99 274.981 L 274.99 333.106 C 274.99 346.846 263.74 358.096 250 358.096 z M 403.193 96.807 C 363.99399999999997 57.608000000000004 309.82399999999996 33.36 249.99999999999997 33.36 C 190.176 33.36 136.00599999999997 57.608000000000004 96.80699999999996 96.807 C 57.60799999999996 136.006 33.35999999999996 190.176 33.35999999999996 250 C 33.35999999999996 309.824 57.60799999999996 363.994 96.80699999999996 403.193 C 136.00599999999997 442.392 190.17599999999996 466.64 249.99999999999997 466.64 C 309.82399999999996 466.64 363.99399999999997 442.392 403.193 403.193 C 442.392 363.99399999999997 466.64 309.82399999999996 466.64 249.99999999999997 C 466.64 190.176 442.392 136.00599999999997 403.193 96.80699999999996 z" stroke-linecap="round"/>
                    </g>
                </svg>
            </a>
        </div>

        <turbo-frame id="CardType_0"></turbo-frame>

        <div class="grid grid-flow-row auto-rows-max w-full max-h-96 overflow-y-auto card-type-list-view pr-3">
            <div class="w-full my-3 py-2 flex justify-between items-center table-headers">
                <div class="flex no-wrap items-center pl-2 w-fit justify-start w-1/3">
                    <h6 class="font-semibold inline-block border-solid border-b-2 border-gray-400 text-gray-400">Tanım</h6>
                </div>

                <div class="flex no-wrap items-center w-1/3">
                    <h6 class="font-semibold m-auto border-solid border-b-2 border-gray-400 text-gray-400">Ziyaret Edilebilir</h6>
                </div>

                <div class="flex h-fit no-wrap w-1/3 justify-end">
                    <h6 class="font-semibold inline-block border-solid border-b-2 border-gray-400 text-gray-400">Düzenle / Sil</h6>
                </div>
            </div>
            <turbo-frame id="card-type-list-frame">

                @* @for (int i = 0; i < CardTypes.Instance.Count; i++) *@
                @* { *@
	               @*  <partial name="_CardTypeView" model="@CardTypes.Instance[i]"></partial> *@
                @* } *@
                @foreach (var type in @CardTypes.Instance)
                {
                    <partial name="_CardTypeView" model="@type"></partial>
                }
            </turbo-frame>
	        <signalr-turbo-stream hub=@($"/{nameof(AppHub)}") method="CardTypeListChanged"></signalr-turbo-stream>
        </div>

	    <turbo-frame id="card-type-list-counter">
            @{ CardType ct = new CardType(0, "", false, false, false); }
            <partial name="_CardTypeListCounter" model="ct"></partial>
        </turbo-frame>
    </div>
</turbo-frame>