@page
@model IdesseCardTypes.Pages.CardTypesModel
@{
}

<turbo-frame id="content-frame">
	<div class="text-center border-solid border-2 border-grey rounded-lg p-8 w-full flex-col h-fit">
		<div class="menu-header w-full flex items-center justify-between m-auto border-solid border-2 border-black">
			<div class="max-w-[75%] flex items-center">
				<img src="~/dist/images/idesse-symbol.svg" class="m-2" />
				<span class="h-fit text-left">Kart Tipleri</span>
			</div>
			<a class="flex h-max max-w-[25%]" asp-page="/CardTypes" asp-page-handler="Add" data-turbo-frame="new-type">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
				</svg>
			</a>
		</div>

		<turbo-frame id="new-type">
			new type
		</turbo-frame>

		<ul class="menu-list w-full">
			@for (var i = 0; i < CardTypes.Instance.Count; i++)
			{
				<partial name="_CardTypeView" model="CardTypes.Instance[i]"></partial>
			}
		</ul>
	</div>
</turbo-frame>