@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    
}

@layer components {
    main {
        min-width: 350px;
    }
}

@layer utilities {
    .menu-header {
        @apply h-fit text-left font-bold;
    }
    
    .form-check-label{
        @apply text-left;
    }
    
    .checkbox {
        @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 mx-2;
    }

    @media only screen and (max-width: 500px){
        svg {
            max-width: 20px;
            max-height: 20px;
        }

        body {
            font-size: 12px;
        }
    }

    @media only screen and (min-width: 500px) and (max-width: 1024px){
        svg {
            max-width: 22px;
            max-height: 22px;
        }
        
        body {
            font-size: 14px;
        }
        
        main {
            min-width: 400px;
        }
    }
}